.login-container {
	background-color: cadetblue;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../../assests/adminPanel/bg.jpg');
	background-size: cover;
}
.loginPage {
	width: 80%;
	height: 33rem;
	border-top-left-radius: 5rem;
	border-bottom-right-radius: 5rem;
	border-top-right-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	background-color: #8feae9;
	box-shadow: 0.5rem 0.5rem 0.8rem rgba(0, 0, 0, 0.2),
		-0.5rem -0.5rem 0.8rem rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: row;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}
.loginPage .left-side,
.loginPage .right-side {
	flex: 1;
}
.loginPage .right-side {
	background-color: rgba(255, 255, 255, 0.8);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: inherit;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.loginPage .right-side img {
	width: 20rem;
}
.loginPage .left-side {
	background-color: rgba(255, 255, 255, 0.2);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: inherit;
	border-bottom-right-radius: 0;
	flex-direction: column;
}

@media (max-width: 930px) {
	.loginPage {
		width: 100%;
	}
}
@media (max-width: 750px) {
	.loginPage {
		width: 80%;
	}
	.loginPage .right-side {
		display: none;
	}
}
