.CandidatesPage{
    height:100vh;
    overflow-y:scroll;
}
.AddCandidateForm{
    background-color:#FFF;
    width:60%;
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:2rem;
    overflow-y: auto;
    position: relative;
    .closeButton{
        position:absolute;
        right: 10px;
        top: 0;
    }
    div{
        margin: 0.3rem;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        .controlButtons{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
        button{
            margin-left:0.5rem !important;
        }
        }
    }
    .avatarContainer{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 50%;
        }
    }
}
.SureMsg{
    border-radius: 2rem;
    background-color: #FFF;
    width:20rem;
    height:10rem;
}

.AddNewCandidateForm{
    background-color:#FFF;
    width:80%;
    height:80%;
    border-radius:5rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    div{
        margin-top: 0.5rem;
    }
    button{
        margin-left: 0.5rem;
    }
    .LogoContainer{
        display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
        img{
            width :30%;
            border-radius: 50%;
        }
    }
    
}
.addCandidateBTN{
        width:8rem;
        height:8rem;
        border-radius: 50%;
        position: absolute;
        top: 1rem;
        right: 1rem;
        outline: none;
        border: none;
        background-color: #3f51b5;
        cursor: pointer;
        color: #FFF;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1rem;
        border: 1px dashed #FFF;
    }